input {
  margin-bottom: 5vh;
}
.container {
  width: 30%;
  background-color: #2b2b2b;
  padding: 5vh;
  margin-bottom: 10px;
}
label {
  color: burlywood;
}
button {
  background-color: #2b2b2b;
  color: burlywood;
}
p {
  font-family: helvetica;
  font-size: 5vh;
  color: blanchedalmond;
  background-color: #2b2b2b;
  margin: 0px;
  width: fit-content;
}
