h1 {
  text-align: center;
  font-size: 5vh;
  font-family: helvetica;
  margin-top: 0px;
  margin-bottom: 2px;
  border: 2px solid black;
  width: 30vh;
  margin-top: 2vh;
}
.inp {
  display: flex;
  justify-content: center;
}
input {
  width: 14vh;
}
